.form {
  max-width: 50%;
  /* justify-content: center; */
  margin: 10vh auto;
}
.bread-item {
  margin: 5px 5px 5px 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 20px;
}

.pageheading {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}

.state_img {
  width: 100%;
  margin: 5rem 0;
}

.navbarbtn {
  margin: 0;
  padding: 0 !important;
}
